<%- include ('./partials/header') %>

        <div class="container">
            <div class="jumbotron">
                <h1> Mercury </h1>
            </div>
            <img src="../img/mercury.jpg" width=300 alt="Mercury" /><br/><br/>
            <div id = "text">
                <p class="lead">
                      Mercury is the planet closest to the Sun and the smallest planet in our solar system.
                </p>
                <p>It takes its name from the Roman god Mercury, who was messenger to the gods.</p>
                <p>This planet has been known for centuries, as far back as 3000 BC by the Sumerians.</p>            
            </div>
            
            
        </div>
<%- include ('./partials/footer') %>

<!--Venus is the second closest planet to the Sun and the second brightest natural object in the sky. -->
<!--Sometimes it has been called the "sister planet" to Earth due to their similar size and mass. -->
<!--Clouds formed from sulfuric acid hide the surface of Venus from view. It is named after the Roman goddess of love and beauty Venus.  -->

<!--Earth is the third closest planet to the Sun and the largest terrestrial planet. -->
<!--It is the only planet not named after a god or goddess and the only planet known to support life.  -->
<!--It is the densest planet in the solar system despite only being the fifth largest in terms of size and mass. -->
<!--Earth has an average density of 5.52 g/c^3. -->
