#title {
    text-align: center !important;
    background: #21DA9F !important;
    color: #082D0E;
    border-style: dotted !important; 
}

body {
    background: #B8F19C !important;
}

#label {
    font-weight:bold !important;
    font-size: 20px !important;
    text-decoration: underline;
    color: #A08913;
}
.femaleBackground {
    background:pink;
}

.maleBackground {
    background:#09D1F5;
}

.bothBackground {
    background: #20E7A8;
}

.list {
    padding: 5px !important;
}

#output{
    text-align: center !important;
    padding: 10px !important;
}

li {
    font-weight:bold;
}
.femaleList {
    color: #E72095;
}

.maleList {
    color: #3220E7;
}

.bothList {
    color: #0D7453;
}

p {
    text-decoration: underline;
}

.error {
    color: red;
    font-weight:bold;
}
